@font-face {
    font-family: 'Berlingske Sans';
    src:	url('./fonts/BerlingskeSans-Rg.eot');
    src:	url('./fonts/BerlingskeSans-Rg.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BerlingskeSans-Rg.woff2') format('woff2'),
    url('./fonts/BerlingskeSans-Rg.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Sans';
    src:	url('./fonts/BerlingskeSans-Blk.eot');
    src:	url('./fonts/BerlingskeSans-Blk.eot?#iefix') format('embedded-opentype');
    src:	url('./fonts/BerlingskeSans-Blk.woff2')format('woff2'),
    url('./fonts/BerlingskeSans-Blk.woff')format('woff');
    font-weight: 900;
    font-style: normal;
}


.cardgame {
    width: 781px;
    height: 361px;
    margin: 100px auto;
}

.card {
    font-family: 'Berlingske Sans', Arial, Helvetica, sans-serif;
}

.card-content {
    width: 691px;
    height: 271px;
    padding: 45px;
    position: relative;
    background-color: #FFFFFF;
    background-position: 0 0;
    background-repeat: no-repeat;

}

.card-content__type-padded {
    width: 486px;
    padding-right: 250px;
}

.card-content__type-0 {
    background-image: url(../i/0.png);
}

.card-content__type-1 {
    background-image: url(../i/1.png);
}

.card-content__type-2 {
    background-image: url(../i/2.png);
}

.card-content__type-3 {
    background-image: url(../i/3.png);
}

.card-content__type-4 {
    background-image: url(../i/4.png);
}

.card-content__type-5 {
    background-image: url(../i/5.png);
}

.card-content__type-6 {
    background-image: url(../i/6.png);
}

.card-content__type-finish {
    background-image: url(../i/finish.png);
}

.card-content__type-right {
    background-image: url(../i/right.png);
}

.card-content__type-wrong {
    background-image: url(../i/wrong.png);
}

.card-content__title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 900;
    margin: 0 0 40px 0;
}

.card-content__type-right .card-content__title,
.card-content__type-wrong .card-content__title {
    margin-bottom: 7px;
}

.card-content__type-0  .card-content__top {
    text-transform: uppercase;
    margin-top: 8px;
    letter-spacing: 2px;

}

.card-content__type-0  .card-content__title {
    font-size: 46px;
    line-height: 53px;
    margin-top: 16px;
}

.card-content__type-padded  .card-content__title {
    font-size: 28px;
    line-height: 38px;
    margin: 23px -180px 15px 0;
    font-weight: 900;
}

.card-content__type-finish  .card-content__title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 27px;
    font-weight: 900;
    margin-bottom: 9px;
}

.card-content__type-finish  .card-content__text {
    max-width: 420px;
}

.card-content__top {
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.card-content__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
}

.card-content__type-padded .card-content__text {

    position: absolute;
    top: 160px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    text-align: left;
}

.card-step {
    position: absolute;
    top: 42px;
    width: auto;
    height: 30px;
    text-align: center;
    font-size: 19px;
    line-height: 18px;
    font-weight: 100;

}

.card-button {
    cursor: pointer;
    display: inline-block;
    padding: 12px 20px 8px;
    background: #ca4131;
    color: #FFFFFF;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e09187 #6a221a #6a221a #e09187;
    font: normal 18px/18px "Berlingske Sans";
    font-weight: 100;
    letter-spacing: 1.2px;

}

.card-button:hover {
    background: #6a221a;
    border-color: #6a221a;
}

.card-footer .card-button {
    margin: 0 0 0 45px;
    text-transform: uppercase;
}

.card-button.right {
    background: #60ad91;
    border-color: #60ad91 #1c4435 #1c4435 #60ad91;
}

.card-button.right:hover {
    background: #1c4435;

}



.card-content_variants {
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    min-width: 380px;
}








.card-content_variant {
    margin: 0 0 10px 0;

}

.card-content_variant:last-child {
    margin: 0;
}

.card-content_variant a {
    cursor: pointer;
    padding: 5px 16px;
    display: block;
    background: #ca4131;
    color: #FFFFFF;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e09187 #6a221a #6a221a #e09187;
    font: normal 16px/24px "Berlingske Sans";
    font-weight: 100;
    letter-spacing: 1.2px;


}



.card-content_variant a:hover {
    color: #FFFFFF;
    background: #6a221a;
    border-color: #6a221a;

}
